<head>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
  <%- include('templates/nav') %>
  <main>
    <h1>Admin Dashboard</h1>
    <ul>
      <li><a href="/admin/opprett-turnering">Opprett turnering</a></li>
      <li><a href="/turneringer">Se turneringer</a></li>
    </ul>
  </main>
</body>