<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <%- include('templates/nav') %>
    <h1>Welcome to this website</h1>
    <p>Placeholderssssss Lorem ipsum dolor sit amet, consectetur adipisicing elit. At fuga, eum rem, illum vero laborum dolores laboriosam maxime nulla odio facilis quam excepturi obcaecati soluta modi, autem aliquam magni eos.</p>
</body>
</html>