<head>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
  <%- include('templates/nav') %>
  <main>
    <h1>Opprett lag</h1>
    <form action="/admin/opprett-lag" method="POST">
      <input type="text" name="navn" placeholder="Lagnavn" required>
      <input type="text" name="kontaktNavn" placeholder="Kontaktperson" required>
      <input type="text" name="kontaktTelefon" placeholder="Telefon" required>
      <button type="submit">Opprett</button>
    </form>
  </main>
</body>