<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrer deg</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <%- include('templates/nav') %>
    <main class="signup-container">
        <section class="signup-card">
            <form action="/signup" method="POST" aria-label="Sign up med brukernavn og passord">
                <h1>Registrer bruker</h1>
                <label>
                    Brukernavn
                    <input name="username" placeholder="Brukernavn" required>
                </label>
                <label>
                    Passord
                    <input type="password" name="password" placeholder="Passord" required>
                </label>
                <label>
                    Bekreft Passord
                    <input type="password" name="confirm" placeholder="Bekreft passord" required>
                </label>
                <button type="submit">Sign up</button>
                <p>Hvis du allerede har en bruker <a href="/login">logg deg inn her</a></p>
            </form>
        </section>
    </main>
</body>
</html>